@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Julius+Sans+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Julius Sans One";
}

.page {
  min-height: 300vh;
  min-width: 400px;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 800px) {
  html {
    font-size: 12px;
  }
}
.page__top-line {
  background-color: white;
  height: 50px;
}
.page__header {
  position: sticky;
  top: 0;
  padding: 0 5%;
  z-index: 10;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 75px;
  width: 100%;
  background-color: white;
}
.header__logo {
  color: black;
  font-size: 2.25rem;
  text-transform: uppercase;
  margin-right: auto;
  font-weight: 600;
  border-top: solid 0.15rem black;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__item {
  margin-left: 32px;
}
.menu__link {
  font-size: 1.75rem;
  -webkit-transition: 0.3s color ease, 0.5s font-size ease;
  transition: 0.3s color ease, 0.5s font-size ease;
  color: black;
}
.menu__link:hover {
  font-size: 2rem;
  color: rgb(180, 180, 180);
}
.menu__link:active {
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  color: rgb(255, 181, 21);
}

.main__opening-hours {
  padding: 25px 0;
}
.main__about {
  padding-top: 180px;
}

.home {
  background-image: url(../img/mainbackground.jpg);
  background-color: #7E655D;
  background-size: cover;
  background-position: center;
}
.home__title-container {
  max-width: 470px;
  margin-left: 10%;
  padding-left: 30px;
  padding-right: 5px;
  color: #ECE7E7;
  background-color: rgba(176, 150, 150, 0.6);
}
.home__title {
  font: 5rem "Italiana";
  padding-top: 80px;
  padding-bottom: 120px;
}
.home__subtitle {
  font: 3rem "Italiana";
  padding-bottom: 200px;
}

.opening-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.25rem;
  background-color: white;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.about__image {
  width: 100%;
  height: 700px;
  background-image: url(../img/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-right: 2.5rem solid #2E2C2C;
}
.about__image-wrapper {
  padding-top: 150px;
}
.about__column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.about__title {
  font: 4rem "Italiana";
  padding-bottom: 85px;
  padding-left: 10%;
  padding-right: 20%;
}
.about__description {
  font-size: 2rem;
  padding-left: 10%;
  padding-right: 30%;
  padding-bottom: 170px;
}
.about::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  background-image: url("../img/about_dec.svg");
  background-repeat: no-repeat;
}

@media (max-width: 1000px) {
  .about {
    display: block;
  }
  .about__image {
    height: 50vh;
  }
  .about__image-wrapper {
    padding-top: 0px;
  }
  .about__title {
    padding-top: 20px;
  }
  .about__description {
    padding-bottom: 110px;
  }
  .about::after {
    height: 100px;
  }
}
.cafe-menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 156px;
  font: 6rem "Italiana";
  color: white;
  background-color: #D2C3C3;
}
.cafe-menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 48px;
}
.cafe-menu__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 600px;
          flex: 1 600px;
  max-width: 600px;
  padding-left: 50px;
  padding-right: 50px;
}
.cafe-menu__column_first {
  border-right: 2px solid #C2C2C2;
}

.menu_section__title {
  font-size: 2rem;
  padding-bottom: 2rem;
  padding-top: 0.5rem;
}
.menu_section__item {
  font-size: 1.25rem;
  padding-bottom: 1rem;
}
.menu_section__desription {
  color: #818181;
}

@media (max-width: 800px) {
  .cafe-menu__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cafe-menu__column {
    border: none;
  }
}