* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Julius Sans One";
}

.page {
    min-height: 300vh;
    min-width: 400px;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
  }

@media (max-width: 800px) {
    html {
       font-size: 12px;
     }
  }
