@use "_reset";
@use "_vars";
@use "_fonts";

.page {
    &__top-line{
        background-color: white;
        height: 50px;
    }
    &__header{
        position: sticky;
        top: 0;
        padding: 0 5%;
        z-index: 10;
    }
}

//-------------------header------------------------
.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 75px;
    width: 100%;
    background-color: white;

    &__logo {
        color:black;
        font-size: 2.25rem;
        text-transform: uppercase;
        margin-right: auto;
        font-weight: 600;
        border-top: solid 0.15rem black;
    }
    &__nav {
        display: flex;
        align-items: center;
    }
}

.menu {
    display: flex;
    align-items: center;

    &__item {
        margin-left: 32px;
    }
    &__link {
        font-size: 1.75rem;
        transition: 0.3s color ease, 0.5s font-size ease;
        color: black;
        &:hover {
            font-size: 2rem;
            color: rgb(180, 180, 180);
        }
        &:active{
            transition-duration: 0s;
            color: rgb(255, 181, 21);
        }
    }
}

.main {
    &__opening-hours {
        padding: 25px 0;
    }
    &__about {
        padding-top: 180px;
    }
}

//-------------------home------------------------
.home {
    background-image: url(../img/mainbackground.jpg);
    background-color: vars.$color-secondary;
    background-size: cover;
    background-position: center;

    &__title-container {
        max-width: 470px;
        margin-left: 10%;
        padding-left: 30px;
        padding-right: 5px;
        color: #ECE7E7;
        background-color: rgba(176, 150, 150, 0.6);
    }    
    &__title {
        font: 5rem 'Italiana';
        padding-top: 80px;
        padding-bottom: 120px;
    }
    &__subtitle {
        font: 3rem 'Italiana';
        padding-bottom: 200px;
    }
}

.opening-hours {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    background-color: white;
}

//-------------------about------------------------
.about{
    display: flex;
    position: relative;

    &__image{
        width: 100%;
        height: 700px;
        background-image: url(../img/about.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-right: 2.5rem solid vars.$color-primary;
    }
    &__image-wrapper{
        padding-top: 150px;
    }
    &__column{
        flex: 1;
    }
    &__title{
        font: 4rem 'Italiana';
        padding-bottom: 85px;
        padding-left: 10%;
        padding-right: 20%;
    }
    &__description{
        font-size: 2rem;
        padding-left: 10%;
        padding-right: 30%;
        padding-bottom: 170px;
    }
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 160px;
        background-image: url('../img/about_dec.svg');
        background-repeat: no-repeat;
    }
}

@media (max-width: 1000px) {
    .about{
        display: block;
        &__image{
            height: 50vh;
        }
        &__image-wrapper{
            padding-top: 0px;
        }
        &__title{
            padding-top: 20px;
        }
        &__description{
            padding-bottom: 110px;
        }
        &::after{
            height: 100px;
        }
    }
  }

//-------------------cafe-menu------------------------
.cafe-menu {
    &__title{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 156px;
        font: 6rem 'Italiana';
        color: white;
        background-color: #D2C3C3;
    }
    &__row {
        display: flex;
        justify-content: center;
        padding-top: 48px;
    }
    &__column{
        flex: 1 600px;
        max-width: 600px;
        padding-left: 50px;
        padding-right: 50px;
    }
    &__column_first{
        border-right: 2px solid #C2C2C2;
    }
}

.menu_section{
    &__title{
        font-size: 2rem;
        padding-bottom: 2rem;
        padding-top: 0.5rem;
    }
    &__item{
        font-size: 1.25rem;
        padding-bottom: 1rem;
    }
    &__desription{
        color: #818181;
    }
}

@media (max-width: 800px) {
    .cafe-menu{
        &__row{
            flex-wrap: wrap;
        }
        &__column{
            border: none;
        }
    }
  }

