/*импорт шрифтов*/
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Julius+Sans+One&display=swap');

/*настройка*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Julius Sans One";
}

body {
    min-height: 100vh;
    min-width: 400px;
}

/*Переменные основных цветов*/
:root {
    --color-primary: #2E2C2C;
    --color-secondary: #7E655D;
  }

/*основная настройка шрифта*/
html {
    font-size: 16px;
    scroll-behavior: smooth;
  }

/*header*/
.top-header {
    background-color: white;
    height: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 75px;
    width: 100%;
    padding: 0 5%;
    position: sticky;
    top: 0;
    background-color: white;
}

header .logo {
    color:black;
    font-size: 2.25rem;
    text-transform: uppercase;
    margin-right: auto;
    font-weight: 600;
    border-top: solid 0.15rem black;
}

header nav {
    display: flex;
    align-items: center;
}

header nav .menu {
    display: flex;
    align-items: center;
}

.menu li a{
    margin-left: 32px;
    font-size: 1.75rem;
    transition: 0.3s color ease, 0.5s font-size ease;
    color: black;
}

.menu li a:hover {
    font-size: 2rem;
    color: rgb(180, 180, 180);
}

.menu li a:active {
    transition-duration: 0s;
    color: rgb(255, 181, 21);
}

/*home page*/

main {
    height: 4000px;
}

.home {
    background-image: url(img/mainbackground.jpg);
    background-size: cover;
    background-position: center;
}

.home .title-container {
    color: #ECE7E7;
    background-color: rgba(176, 150, 150, 0.6);
    max-width: 470px;
    margin-left: 10%;
}

h1, .home p {
    padding-left: 30px;
    padding-right: 5px;
    font-weight: 400;
    font-family: 'Italiana';
}

h1 {
    padding-top: 80px;
    padding-bottom: 120px;
    font-size: 5rem;
}

.home p {
    padding-bottom: 200px;
    font-size: 3rem;
}

.opening-hours {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    font-size: 1.25rem;
}

@media (max-width: 768px) {
    html {
       font-size: 12px;
     }
  }

/* Welcome to our café New café in London United Kingdom */

