.cafe-menu {
    position: relative;
    padding-top: 30px;
    
    &__title{
        display: flex;
        justify-content: center;
        align-items: center;

        font: 6rem 'Italiana';
        height: 156px;
        
        color: white;
        background-color: #D2C3C3;
    }
    &__row {
        display: flex;
        justify-content: center;
        padding-top: 48px;
    }
    &__column{
        max-width: 600px;
        padding-left: 50px;
        padding-right: 50px;
        
        &_bordered{
            border-right: 2px solid #C2C2C2;
        }
    }
    &::before{
        content: '';

        position: absolute;
        top: -130px;
        width: 100%;
        height: 160px;

        background-image: url('../img/about_dec.svg');
        background-repeat: no-repeat;
    }
}

@include mediaTablet {
    .cafe-menu{
        &__row{
            flex-direction: column;
            align-items: flex-start;
        }
        &__column{
            border: none;
        }
        &::before{
            height: 75px;
            top: -45px;
        }
    }
  }