.cafe-menu {
    padding: 100px 0;
    position: relative;
    
    &__title{
        display: flex;
        justify-content: center;
        align-items: center;

        font: 6rem 'Italiana';
        height: 156px;
        
        color: white;
        background-color: $color-secondary;
    }
    &__row {
        display: flex;
        justify-content: center;
        padding-top: 48px;
    }
    &__column{
        max-width: 600px;
        min-width: 500px;
        padding: 0 50px;
        
        &_bordered{
            border-right: 2px solid #C2C2C2;
        }
    }
    &::before{
        content: '';

        position: absolute;
        top: -60px;
        width: 100%;
        height: 160px;

        background-image: url('../img/about_dec.svg');
        background-repeat: no-repeat;
    }
}

@include mediaTablet {
    .cafe-menu{
        padding: 50px 0;
        &__row{
            flex-direction: column;
            align-items: center;
        }
        &__column{
            width: 95%;
            min-width: auto;
            border: none;
        }
        &::before{
            height: 75px;
            top: -25px;
        }
    }
  }

@include mediaPhone{
    .cafe-menu{
        &__column{
            padding: 0 15px;
        }
    }
}