.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: sticky;
    top: 0;
    z-index: 10;
    overflow: hidden;
    
    height: 80px;
    width: 100%;
    padding: 0 80px;

    box-shadow: 0 10px 9px -9px #000000;
    background-color: rgba(255, 255, 255);

    &__logo {
        margin-right: auto;
    }
    &__menu-btn{
        display: none;
        position: fixed;
        top: 20px;
        right: 20px;
    }
    &__close-btn{
        display: none;
        position: fixed;
        top: 20px;
        right: 30px;
    }
}

.header_mobile{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: fixed;

    width: 100%;
    height: 100%;
    padding: 50px;

    .header__close-btn{
        display: block;
    }
    .header__menu-btn{
        display: none;
    }
    .header__nav{
        display: block;
    }
    .nav__list{
        flex-direction: column;
        row-gap: 50px;
        padding-top: 100px;
    }
}

.header-top{
    height: 75px;
}

@include mediaTablet {
    .header{
        padding: 0 20px;
        &__nav{
            display: none;
        }
        &__menu-btn{
            display: block;
        }
        &__logo{
            position: fixed;
            top: 7px;
            left: 7px;
        }
    }
    .header-top{
        display: none;
    }
}