.header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5%;
    height: 75px;
    width: 100%;
    box-shadow: 0 10px 9px -9px #000000;
    background-color: rgba(255, 255, 255);
    &__logo {
        margin-right: auto;
    }
    &__menu-btn{
        display: none;
    }
    &__close-btn{
        display: none;
    }
}

.header_mobile{
    width: 100%;
    height: 200vh;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .header__close-btn{
        display: block;
        position: fixed;
        top: 50px;
        right: 35px;
    }
    .header__menu-btn{
        display: none;
    }
    .header__nav{
        display: block;
    }
    .nav__list{
        flex-direction: column;
        padding-top: 30px;
        row-gap: 50px;
    }
}

.header-top{
    height: 75px;
}

@include mediaTablet {
    .header{
        &__nav{
            display: none;
        }
        &__menu-btn{
            display: block;
        }
    }
    .header-top{
        display: none;
    }
}