.home {
    background-image: url(../img/mainbackground.jpg);
    background-color: $color-secondary;
    background-size: cover;
    background-position: center;

    &__title-container {
        max-width: 470px;
        margin-left: 10%;
        padding-left: 30px;
        padding-right: 5px;

        color: #ECE7E7;
        background-color: rgba(176, 150, 150, 0.8);
    }    
    &__title {
        font: 5rem $font-accent;
        padding-top: 80px;
        padding-bottom: 120px;
    }
    &__subtitle {
        font: 3rem $font-accent;
        padding-bottom: 300px;
    }
}

@include mediaPhone {
    .home{
        &__title-container{
            max-width:max-content;
            margin-left: 0;
        }
        &__title {
            font-size: 3rem;
        }
        &__subtitle {
            font-size: 2rem;
            padding-bottom: 150px;
        }
    }
  }