.menu-section{
    &__title{
        font-size: 2em;
        padding-bottom: 1.2em;
        padding-top: 0.5em;
    }
    &__item{
        font-size: 1.25em;
        padding-bottom: 1em;
    }
    &__desription{
        color: #818181;
    }
    &__price{
        float: right;
        white-space: pre;
    }
}

@include mediaPhone{
    .menu-section{
        font-size: 10px;
        &__title{
            padding-bottom: 1em;
        }
    }
}