.recipe{
    padding: 110px 0;

    background-color: $color-primary;
    color: white;

    &__wrapper{
        max-width: 1030px;
        margin: 0 auto;
        padding: 0 15px;
    }
    &__title{
        font: $subtitle;
        padding-bottom: 100px;
    }
    &__row{
        display: flex;
        justify-content: space-around;
        row-gap: 100px;
    }
    &__column{
        flex:1;
    }
}

@include mediaTablet {
    .recipe{
        background-image: none;
        padding: 50px 0;
        &__row{
            flex-direction: column;
            align-items: center;
        }
        &__title{
            padding-bottom: 50px;
            padding-top: 30px;
        }
        &__row{
            row-gap: 50px;
        }
    }
  }