.recipe{
    background-image: url('../img/recipe_back.png');
    background-repeat: no-repeat;
    background-position: bottom 50% right -1500px;

    &__wrapper{
        padding: 0 15px;
        max-width: 1030px;
        margin: 0 auto;
    }
    &__title{
        font: 4rem $font-accent;
        padding-top: 150px;
        padding-bottom: 150px;
    }
    &__row{
        display: flex;
        justify-content: space-around;
        row-gap: 100px;
    }
    &__column{
        flex:1;
    }
}

@include mediaTablet {
    .recipe{
        background-image: none;
        &__row{
            flex-direction: column;
            align-items: center;
        }
        &__title{
            padding-bottom: 50px;
            padding-top: 70px;
        }
    }
  }