@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Julius+Sans+One&display=swap');

* {
    font-family: "Julius Sans One";
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
  }

@include mediaTablet {
    html {
       scroll-behavior:auto;
     }
  }

button {
  border: 0;
  background-color: transparent;
}

.no-scroll{
  overflow-y: hidden;
}
